# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.env
.env.*
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Virtual environment
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Database files
*.db
*.sqlite3

# Dependency directories
lib/
libs/
lib64/
get-pip.py
pip-selfcheck.json

# Miscellaneous
.DS_Store
*.swp
*~
*.bak
